
@media screen and (max-width: 500px){
    body {
        background:#391DBF;
        border: 20px;
        border-style: groove;
        border-color: darkslategray;
        font-family: sans-serif;
        font-weight: 500;
        font-feature-settings: normal;
        margin: 0;
    }
    #encabezado{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    #nombreconts{
        display: flex;
        flex-wrap: wrap;
        padding-left: 3em;
        width: 65%;
    }
    #fotoperfil{
        margin-top: 20px;
        width: 232px;
        height: 279px;
        border: inset;
        justify-self: baseline;
    }
    #nombre{
        display: flex;
        text-align: center;
        font-size: 45px;
        color: aliceblue;
    }
    #perfil{
        font-size: 70%;
        text-align: justify;
        color: powderblue;
        border-bottom-style: double;
        border-top: double;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
    
    }
    .titul{
        font-size: 30px;
        color: white;
        text-decoration: underline double;
        
        margin-left: 5%;
    }
      #icontacs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        
      }
    .icontacto{
        width: 20%;
    }
    .icontacto:hover{
        width: 100px;
        height: 100px;
        padding: 0;
    }
    .content-proyect{
        display: flow-root;
        flex-wrap: wrap;
    }
    .icon-proyecto{
        width: 20%;
        padding: 3px;
    }
    .icon-proyecto:hover{
        width: 150px;
        height: 150px;
        padding: 0px;
    }
    .ver{
        background: yellow;
    }
    .compets{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: wrap;
    }
    .compet{
        font-size: 70%;
        border: 8px solid black;
        border-radius: 25px;
        background: powderblue;
        text-align: center;
        margin: 6px;
        width: 65%;
        padding: 2px;
    }
    .content-card-est:hover{
        border: 10px solid rgb(7, 57, 122);
        margin: 10px;
    }
    .content-card-est{
        font-size: 72%;
        margin: 10px;
        display: flex;
        border: 10px solid black;
        border-radius: 25px;
        flex-wrap: wrap;
        background: powderblue;
        width: 269px;
    }
    .content-card{
        font-size: 72%;
        margin: 10px;
        display: flex;
        border: 10px solid black;
        border-radius: 25px;
        flex-wrap: wrap;
        background: powderblue;
        width: 269px;
    }
    .titedu{
        width: 74%;
        margin-left: 10px;
    }
    .logos{
        margin: 10px;
        border: 5px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
    }
    .estes{
        margin: 10px;
    }
}
@media screen and (min-width:501px){
body {
    background: linear-gradient(0deg, rgba(173,173,173,1) 0%, rgba(2,0,36,1) 100%);
    border: 20px;
    border-style: groove;
    border-color: darkslategray;
    font-family: sans-serif;
    font-weight: 500;
    font-feature-settings: normal;
}
#encabezado{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
#nombreconts{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3em;
    width: 65%;
}
#fotoperfil{
    margin-top: 20px;
    width: 347px;
    height: 405px;
    border: inset;
    justify-self: baseline;
}
#nombre{
    display: flex;
    text-align: center;
    font-size: 80px;
    color: aliceblue;
}
#perfil{
    font-size: 30px;
    text-align: justify;
    color: powderblue;
    border-bottom-style: double;
    border-top: double;
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px;

}
.titul{
    font-size: 30px;
    color: white;
    text-decoration: underline double;
    
    margin-left: 5%;
}
  #icontacs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
  }
.icontacto{
    width: 70px;
    height: 70px;
    padding: 15px;
}
.icontacto:hover{
    width: 100px;
    height: 100px;
    padding: 0;
}
.content-proyect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icon-proyecto{
    width: 100px;
    height: 100px;
    padding: 25px;
}
.icon-proyecto:hover{
    width: 150px;
    height: 150px;
    padding: 0px;
}
.ver{
    background: yellow;
}
.compets{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}
.compet{
    font-size: 25px;
    border: 8px solid black;
    border-radius: 25px;
    background: powderblue;
    text-align: center;
    margin: 6px;
    width: 260px;
    height: 200;
}
.content-card-est:hover{
    border: 10px solid rgb(7, 57, 122);
    margin: 10px;
}
.content-card-est{
    font-size: 25px;
    margin: 10px;
    display: flex;
    border: 10px solid black;
    border-radius: 25px;
    flex-flow: wrap;
    background: powderblue;
    min-width: 350px;
    max-width: 420px;
}
.content-card{
    font-size: 25px;
    margin: 10px;
    display: flex;
    border: 10px solid black;
    border-radius: 25px;
    flex-wrap: wrap;
    background: powderblue;
    width: 420px;
}
.titedu{
    width: 300px;
    margin: 10px;
}
.logos{
    margin:10px;
    border: 5px;
    border-radius: 5px;
    width:60px;
    height:60px;
}
.estes{
    margin: 10px;
}
}